- let items = [{ id: 1461891, name: "Винна шафа Philco PW18F 65см/18 пляшок", main_image: "https://danilenkova.github.io/images/philco_pw18f.jpg", image: "https://danilenkova.github.io/images/philco_pw_18f.webp", action: "-14%", label: "Найкраща ціна", message: "Для справжніх поціновувачів вина...", rating: [1,2,3,4,5], votes: 10, price: "4 624", old_price: "5 499", currency: "грн", cashback: "46" }, {id: 769575, name: "Пральна машина Electrolux EW6S406W", main_image: "https://danilenkova.github.io/images/1620509_electrolux_ew6s406wu_15.jpg", image: "https://danilenkova.github.io/images/1620509_electrolux_ew6s406wu_12.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пральні машини...", rating: [1,2,3,4,5], votes: 6, price: "6 868", old_price: "8 999", currency: "грн", cashback: "69"}, {id: 1168937, name: "Пилосос циклонний THOMAS MULTI CYCLONEPRO 14", main_image: "https://danilenkova.github.io/images/thomas_multi_cyclone_pro_14.jpg", image: "https://danilenkova.github.io/images/thomas_multi_cyclone_pro_14_5.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пилососи Thomas +...", rating: [1,2,3,4,5], votes: 59, price: "3 299", old_price: "3 999", currency: "грн", cashback: "33"}, { id: 1461891, name: "Винна шафа Philco PW18F 65см/18 пляшок", main_image: "../images/philco_pw18f.jpg", image: "../images/philco_pw_18f.webp", action: "-14%", label: "Найкраща ціна", message: "Для справжніх поціновувачів вина...", rating: [1,2,3,4,5], votes: 10, price: "4 624", old_price: "5 499", currency: "грн", cashback: "46" }, {id: 769575, name: "Пральна машина Electrolux EW6S406W", main_image: "../images/1620509_electrolux_ew6s406wu_15.jpg", image: "../images/1620509_electrolux_ew6s406wu_12.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пральні машини...", rating: [1,2,3,4,5], votes: 6, price: "6 868", old_price: "8 999", currency: "грн", cashback: "69"}, {id: 1168937, name: "Пилосос циклонний THOMAS MULTI CYCLONEPRO 14", main_image: "../images/thomas_multi_cyclone_pro_14.jpg", image: "../images/thomas_multi_cyclone_pro_14_5.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пилососи Thomas +...", rating: [1,2,3,4,5], votes: 59, price: "3 299", old_price: "3 999", currency: "грн", cashback: "33"}, { id: 1461891, name: "Винна шафа Philco PW18F 65см/18 пляшок", main_image: "../images/philco_pw18f.jpg", image: "../images/philco_pw_18f.webp", action: "-14%", label: "Найкраща ціна", message: "Для справжніх поціновувачів вина...", rating: [1,2,3,4,5], votes: 10, price: "4 624", old_price: "5 499", currency: "грн", cashback: "46" }, {id: 769575, name: "Пральна машина Electrolux EW6S406W", main_image: "../images/1620509_electrolux_ew6s406wu_15.jpg", image: "../images/1620509_electrolux_ew6s406wu_12.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пральні машини...", rating: [1,2,3,4,5], votes: 6, price: "6 868", old_price: "8 999", currency: "грн", cashback: "69"}, {id: 1168937, name: "Пилосос циклонний THOMAS MULTI CYCLONEPRO 14", main_image: "../images/thomas_multi_cyclone_pro_14.jpg", image: "../images/thomas_multi_cyclone_pro_14_5.jpg", action: "-24%", label: "Хіт", message: "Знижки до 26% на пилососи Thomas +...", rating: [1,2,3,4,5], votes: 59, price: "3 299", old_price: "3 999", currency: "грн", cashback: "33"}]

ul.cards
  each item in items
    li.product
      a.product__link(href='/')
        p.product__id Код товару:#{ item.id }
        .image-wrapper
          img.product__mainImage(src=item.main_image, alt=item.name)
          img.product__image(src=item.image, alt=item.name)
        .product__labels 
          p.product__labels--action #{ item.action }
          if item.label === "Хіт"
            p.product__labels--action #{ item.label }
          else
            p.product__labels--label #{ item.label }
        p.product__message #{ item.message }
        h2.product__name #{ item.name }
        .product__rating
          .product__rating-stars 
            each star in item.rating
              svg(width='16', height='16') 
                use(xlink:href='/images/icons/sprite.svg#icon-rating')
          .product__rating-votes
            p #{ item.votes } відгуків
        .product__price 
          p.product__price--title Ціна:
          p.product__price--newPrice #{ item.price } #{ item.currency }
            span.product__price--cashback + #{ item.cashback } #{ item.currency } кешбек
          p.product__price--oldPrice #{ item.old_price }#{ item.currency }
      .product__hover-box
        button.product__buy Купити
        svg 
          use(xlink:href='/images/icons/sprite.svg#icon-favorite')
        svg
          use(xlink:href='/images/icons/sprite.svg#icon-compare') 
